#b01 {
	background-color: #fffcde
}
#b02 {
	color: #000066;
	font-size: 30px; 
}
body {
	background-image: url()
}
.background {
	width: 700px;
	margin: auto;
	background-color: #ffbb33
}
.isi {
	padding: 15px
}
.isi h2 {
	text-align: center;
}
.isi table {
	margin-bottom: 10px
}
table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 15px;
}
.image {
	align-content: center;
}
.text th, td{
	text-align: left;
}