h1 {
	text-align: center;
	font-family: Copperplate;
	margin-right: 5cm;
	margin-left: 5cm;
	padding-bottom: 2rem;
	padding-top: 6rem;
}
body {
	background-color: #ff9900;
}
#Baris2 {
	background-color: #ffffcc;
}