.jumbotron {
	padding-top: 6rem;
	background-color: #ff9900;
	text-align: center;
}
.body {
	background-color: #ffffcc;
	background-size:cover; 
}
.figure img {
	width: 75px;
	margin: 20px 15px 0px
}
.figure p {
	font-size: 16px;
	font-style:normal;
	color: #000000
}
